USE [master]
GO
/****** Object:  Database [DATABASE1]    Script Date: 02-01-23 4:41:38 PM ******/
CREATE DATABASE [DATABASE1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'qlbhth2', FILENAME = N'D:\Database1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'qlbhth2_log', FILENAME = N'D:\Database1_log.ldf' , SIZE = 4224KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DATABASE1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DATABASE1]
GO
/****** Object:  Table [dbo].[tbl_Chitietluong]    Script Date: 02-01-23 4:41:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Chitietluong](
	[LoaiLuong] [nvarchar](50) NOT NULL,
	[Lương/giờ] [int] NULL,
 CONSTRAINT [PK__tbl_Chit__07B3B4D907020F21] PRIMARY KEY CLUSTERED 
(
	[LoaiLuong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_ChamCong]    Script Date: 02-01-23 4:41:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_ChamCong](
	[MaNV] [nvarchar](10) NOT NULL,
	[NgayCham] [datetime] NULL,
	[ThoiGianCheckIn] [datetime] NULL,
	[ThoiGianCheckOut] [datetime] NULL,
	[Notes] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_nhanvien]    Script Date: 02-01-23 4:41:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_nhanvien](
	[MaNV] [nvarchar](10) NOT NULL,
	[TenNV] [nvarchar](50) NOT NULL,
	[Giới tính] [nvarchar](5) NULL,
	[DiaChi] [nvarchar](50) NOT NULL,
	[DienThoai] [nvarchar](50) NOT NULL,
	[NgaySinh] [nvarchar](50) NULL,
	[LoaiLuong] [nvarchar](50) NOT NULL,
	[ChucVu] [nvarchar](20) NULL,
	[Ava] [varbinary](max) NULL,
 CONSTRAINT [PK__tbl_nhan__2725D70A03317E3D] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_1]    Script Date: 02-01-23 4:41:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_1]
AS
SELECT        dbo.tbl_ChamCong.MaNV AS [Mã nhân viên], ABS(SUM(DATEPART(Hour, dbo.tbl_ChamCong.ThoiGianCheckOut)) - SUM(DATEPART(Hour, dbo.tbl_ChamCong.ThoiGianCheckIn))) AS [Tổng giờ], DATEPART(MONTH, 
                         dbo.tbl_ChamCong.ThoiGianCheckIn) AS [Tháng chấm], DATEPART(YEAR, dbo.tbl_ChamCong.ThoiGianCheckIn) AS [Năm chấm], dbo.tbl_Chitietluong.[Lương/giờ], ABS(SUM(DATEPART(Hour, dbo.tbl_ChamCong.ThoiGianCheckOut)) 
                         - SUM(DATEPART(Hour, dbo.tbl_ChamCong.ThoiGianCheckIn))) * dbo.tbl_Chitietluong.[Lương/giờ] AS [Thành tiền]
FROM            dbo.tbl_ChamCong INNER JOIN
                         dbo.tbl_nhanvien ON dbo.tbl_ChamCong.MaNV = dbo.tbl_nhanvien.MaNV INNER JOIN
                         dbo.tbl_Chitietluong ON dbo.tbl_nhanvien.LoaiLuong = dbo.tbl_Chitietluong.LoaiLuong
WHERE        (MONTH(dbo.tbl_ChamCong.NgayCham) >= 1)
GROUP BY dbo.tbl_ChamCong.MaNV, MONTH(dbo.tbl_ChamCong.ThoiGianCheckIn), YEAR(dbo.tbl_ChamCong.ThoiGianCheckIn), dbo.tbl_Chitietluong.[Lương/giờ]
GO
/****** Object:  View [dbo].[View_2]    Script Date: 02-01-23 4:41:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_2]
AS
SELECT        dbo.View_1.MaNV AS Expr1, dbo.tbl_nhanvien.TenNV, dbo.tbl_nhanvien.ChucVu, dbo.View_1.[Tổng giờ], dbo.View_1.[Lương/giờ], dbo.View_1.[Tháng và năm chấm], dbo.View_1.[Thành tiền]
FROM            dbo.View_1 INNER JOIN
                         dbo.tbl_nhanvien ON dbo.View_1.MaNV = dbo.tbl_nhanvien.MaNV
GO
/****** Object:  Table [dbo].[tbl_Account]    Script Date: 02-01-23 4:41:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Account](
	[MaNV] [nvarchar](10) NOT NULL,
	[Username] [nvarchar](30) NOT NULL,
	[Pass] [nvarchar](30) NOT NULL,
	[ChucVu] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK__tbl_Acco__2725D70A1CF15040] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_Account] ADD  CONSTRAINT [DF__tbl_Accoun__Pass__1ED998B2]  DEFAULT ('123456789') FOR [Pass]
GO
ALTER TABLE [dbo].[tbl_nhanvien] ADD  CONSTRAINT [DF_tbl_nhanvien_Ava]  DEFAULT (0x0FFD8FFE000104A46494600010101000000000000FFE201D84943435F50524F46494C45000101000001C86C636D73021000006D6E74725247422058595A2007E2000300140009000E001D616373704D53465400000000736177736374726C0000000000000000000000000000F6D6000100000000D32D68616E649D91003D4080B03D40742C819EA5228E000000000000000000000000000000000000000000000000000000000000000964657363000000F00000005F637072740000010C0000000C7774707400000118000000147258595A0000012C000000146758595A00000140000000146258595A00000154000000147254524300000168000000606754524300000168000000606254524300000168000000606465736300000000000000057552474200000000000000000000000074657874000000004343300058595A20000000000000F35400010000000116C958595A200000000000006FA0000038F20000038F58595A2000000000000062960000B789000018DA58595A2000000000000024A000000F850000B6C463757276000000000000002A0000007C00F8019C0275038304C9064E08120A180C620EF411CF14F6186A1C2E204324AC296A2E7E33EB39B33FD646574D3654765C17641D6C8675567E8D882C92369CABA78CB2DBBE99CAC7D765E477F1F9FFFFFFDB0043000707070707070C07070C110C0C0C111711111111171E17171717171E241E1E1E1E1E1E24242424242424242B2B2B2B2B2B323232323238383838383838383838FFDB0043010909090E0D0E190D0D193B2821283B3B3B3B3B3B3B3B3B3B3B3B3B3B3B3B3B3B3B3B3B3B3B3B3B3B3B3B3B3B3B3B3B3B3B3B3B3B3B3B3B3B3B3B3B3B3B3B3B3BFFC00011080800060003012200021101031101FFC4001F0000010501010101010100000000000000000102030405060708090A0BFFC400B5100002010303020403050504040000017D01020300041105122131410613516107227114328191A1082342B1C11552D1F02433627282090A161718191A25262728292A3435363738393A434445464748494A535455565758595A636465666768696A737475767778797A838485868788898A92939495969798999AA2A3A4A5A6A7A8A9AAB2B3B4B5B6B7B8B9BAC2C3C4C5C6C7C8C9CAD2D3D4D5D6D7D8D9DAE1E2E3E4E5E6E7E8E9EAF1F2F3F4F5F6F7F8F9FAFFC4001F0100030101010101010101010000000000000102030405060708090A0BFFC400B51100020102040403040705040400010277000102031104052131061241510761711322328108144291A1B1C109233352F0156272D10A162434E125F11718191A262728292A35363738393A434445464748494A535455565758595A636465666768696A737475767778797A82838485868788898A92939495969798999AA2A3A4A5A6A7A8A9AAB2B3B4B5B6B7B8B9BAC2C3C4C5C6C7C8C9CAD2D3D4D5D6D7D8D9DAE2E3E4E5E6E7E8E9EAF2F3F4F5F6F7F8F9FAFFDA000C03010002110311003F00DCC007146493E9498FCE97B74C5711A91F6C139A070694F038149F5A622366C12AB508524F352313BB1DEA2C13F850035F1B0E39154E4FEFFE756DC8FBB555BEEF3D7D2A9019D720119158B3CECB1B46FDEB6A67C0C11D6B166003143CE7B9AA02980303B7B0A89B1BB7743526DC71E95049D33D71D684509F36093CE699C670A0504853C1A46DD9E08AA028CDB43EC3D69ABD393934F7E58B3F2C7BD347070291A4408C714D036F4E99A796246075A8C1F97E618A45A2452C3A7E7529C373E9E951A96DB814027207AD0326C0EBE955A73B8E41E9D6A6C60E0F350499320F41400EE58286E00E94F214631CFD690E09C8F4A5C80031140C728ECA71CD3F8FBC4544586E1F9E29C0FCC71D290C701F373F5A4039C5293B8E68E8323AD0211C32A90A3AD451E3692FD6A72495F6F5AAA84649C1E2A80491508249E3D2A3C0030391ED52C9F74A8EA7BD423EEFCD4089E0CE0835688F9715561380760FAD4EC4818F6A4C68303EF31C0A3231F4A60258E0F4A7EDCB6D3F5A400071927A538807393DA9060E3D683C1268289154EDC77A7676608A4DC767BD1961827B5480F9250381CFB520C92558606334D6603EF0C834F45073C7E26801DB778C30C0CF4A70007CA9818A4192BC719A5E30482060F7A062852A0E7F0A090C28C10012739A77231D2801A46E017B50C487F9B81ED4E2718E9C77A42DC6E340D0986E3777A52C18ED0738ED4E3C8C52631C8FCE80263C803D29075E9D6900E94E18CF3D2801DCE3207FFAE9B2165041E2939CE4608348483907AF6A00612CEA14F6A5556E8A3A520076ED3C15EF4F41FC593C741DA8017A66800052475A382378E31EB484E012DD7D280B08CEA7031CFF003A418DC703DE9AEA319EF4A0F34031ECBC81E950B0DDC1E3D2A7232720FD6A22BF36734C4460127835215E300F14C418249EB521C9008EB40C8634D8F924E0D32404023AE3BD48D966CAF0334C6242EDC0C1A64B2A6E1923AD227BF6A5C76EF4A06D3CF5A009137638E9524A144432780698AADDC75A264C420707EBDA811246576EDF4AB11A80377E75042CBB01C6335386ECBCD21A15FE5DA71C5487DBBD44DBB783FC239A90ED56C8E9DA9162818FBDE94139E4FA714848DD9E99A4DDC0079C5003B04719E4D3D7041C5459E79E829E3E5F9BAD0042CDBF85E08AC1BD62B261C640EF5BD819AC5BE551265477AB819CCA631B7247D2B21C0CB1C62B6072A481D6B1642779CFE55BA39245FB205936AF18AD08C10D85383D6A959FFAB38EB57E323CCCB75E959CCDE9EC6B468C6338E322A5DC1B2D93938383ED51C64ED3BBA74C53F93CF61591B211B71C95A91703826936B03C74EF48DD413F4A00941E714BF78673ED4CC15E29460A1CF7A004CE381DFAD4329568F3CF1D2A7DF87D83EB505C2B6DDFDBBD3114B8EB4E182E87D3A537200C7A5390E645551CE6811A53B232A83D71552663B406E401806AF5CC7B3690739ED5425185DA7B9A064D098CC4327EE9A91C65B2473DAA38936A8069E72052287804655474A672A0EDE29DB72C189E839A5032A403C50030306500673DFF000A76F240E383FA53B3C6D1DBBD2630690085C1CF7C8E948B9C83EDCD185073D0D386E196EDE94C443260B15EC0669ACE36923B1C8CF5A7839396ED5092C1C83EA0D52339110329C07EA4F06ADE09C81C62A1391C8EB4F0D248727A015440E0D918A18E7B0A894E32291DB2A73D280B8F00A9E3A1EB56636C647415556418C9AA8F3C9CA7AD3484E48D82C3070738F4A43286511AE31DCD65093031CD31A5CAE3A7BD524672916E40AA7E539CFE9512C8BD85526918F39A89DA6623CB38F5AA46372EB4EA7E53DEA06E1B0B50118CEEE49A78739E0718A604D1E1CFCD9C1A42B83C544F2B02AD1F4EF43C8FBF278F6A0439B3BB34887126E269E141C13522F90186EFCA9812823AA9CD26180E475A55787767B0E31523488C368191DA8019C6ECB0186EB4F78D5738E01E94D55CE037156176B45B49E94008A303AF078A5DABD540CD3B3C7001E69D126E63B78A43421F97814D9152600FF10F5A9792C4018C7AD34F072475E94808923DBC49C0A9E3804D19656C32F207AD45BC918939E78A9D1C7403181C114015D2421BCBC74AD2837ED12119C9C66AA496D2CC9E601F39EA056969CB2DBB3412E0A376A4C45E8200E8CA9EBB8E29D22B004F42A41152D84AB05CBC78C86ADB9ED52440E3F8873F5A4041617212742FCF6A5D462517C275276804565C534714811FA839357EE6E2303CC278ED400B7F1F9D0A827E5C038AE42E2548F7C607D2B7EE6FE35508A723F9572F7922CD26F418523A7BD52405769811C77A847080A9E94606324531978054FE14C09A29D9093DEA65767F980FA8AA677903B66AD44C7CBC29C1A00B40AE324E78EF4AA63DDB81ED5432C1811CE2A6C67DA802D89D53046411E956535193CD66C7A0E6B3F2540005322201F9F81EF480DBFB5A3A921B27D2AFD95DDC4CBB064E3A03DAB9A5B9895D957A9FCAAC595FBDBB924E475A04CDD9E4919F2C76B7A8AB4B7F34302A2B74EF5CEC9AA09E538C006B49ECDEE2D8CAB20250640CD006B8BDDC0B483248A81EE1BAA9CFA62B0BCD9D540946071CD68085F66F89C127B5201AF199632675CF3906B31EDD62E1795278F6AD698DD41061D77267AF7ACE8EE42C8C594904522E2EC8BB06A52DB85DA795F5E6AD4DA9B5ECBBBEEF4C562BBC2D9FE1CF18AD8B1D167BE5DF03285E393EB48D1321BA92565009C2D604D16C05C722BB88B48BAB75686F86F53CA9F4FAD73D756663181F7476EF48A8B30ADC8077303B8F5ABC76F0D8FC29912A83B48E6A661D00A83743548E77703D0D3490A32BD073CD3F6A814EC6E521C0C034164476960D8F6A8C003E6FC2A5049C803181C5438048CF18A0001C8E453096DF96FA0A79E327F2A50464EE3C63A53102E09E474A79386C37200C734C00919E94FEE3BE68002D86326327A0AAF364B02C73EB56994F1B7A1AAF280A0E29A132BB1C2E314E419700800FB7A5201BB247A535148915C1E07045592CD070B8DADD0F27F0AAEA5564DCBD4D4D329561B39069839C1C74A402398F69DDCEEE2A34DAAA15400BE948ED9CFA77A13046E03AF5CD0226E157CBCF029ABF2827AE6941F5348325811D2801DC03E99A6BB0DE36F38E29DC17DA491E94814E78E9400282C4807A7352839006338E951107070303353E369DCBFAD2290EC233E08E83AFA52724EE04119E941381C9EA78A71DBD8D201A406254F4F4A55550327F0A3D3DCD2819E33CE680178000F43CD1B8990F4F6A5230D81DF9A41F310071E9400C232C7E94E224EC0600A71C30E78FEB4996E80F06803D338CD272781F852E7238A5E1BA56272911538EB460819CD3FDC0A8DF3D050044DD703826A36E1491531FD6A26C9ED4C0ACCC3AE6A07200CFAD59940041519F7AA8EDC7BF6A680CB98625271D7A0ACB9D873915AF739FBCBC76359338E492315408A839386EF55A4F94E074EF529619F714C9181E7D69A28AAF91DA9242DF786066A4618E3D69AFFEAC9C6698144FCDC13D3B9A6F239383F4A4618383F85348247D691A4478E983D69A3141F5EB49D01278E682D12F627D78A30719EF4D04B720E40A7E7B63A9A431FC819EA6ABC98760A0E3D6AE1E071CF7AAADCCA31C6298C701EA3A52E4938E809A56E47269327767B5201DCE79E940C00383CF7A43C7539A0703E634807E724F6A321B93F4A6E703AE6973D0014C05724AE0761556227613D79C5596276927B0AAF1E02E57814D0039623B022A1CE383F8D3DC92031FE2A8F208DABCE68113C2B819CF06A6CFCB8EA6A3832579E31C54A7072471498C67A1CF4A9720727D2A3623193D69E3A67BD218A02E319229EA3B8EDD334C0C09C75CF7A7A7271D3148070C30009E3BF6A79F9B201E69800C1F4CD3F852547A52286E0F03D2A4DC0D331B58E69C9C7BF7A00519EB9E29C7D57BD22E3953D7BD2E58602FCC3AD0049C9FBC3F2A683C6E3C504E07F4A0162D91C5031C4ED60B8EB4642904F53DA80AF9C31C93CD341C1F4E78A00939FC697900EE1CD039605BAD389E39F5E9EB400C19C6F1F4C500648E71F5A197E61C7BD07AF3F4A0009CF43D2A4E33B88E4542036E6E84D38E776E6C0F6A0073E4E5A93938208C771485B20E3906853FDE181400FC8191D476A171BB2FC50C72588F941C74A4EA33F95000F856CF26984A9196E292424F5E9DF14C5DC467A8A00900DB92A7AD182791C53F2480299C15C31EFC50047CE79EF4E04EDC8E94FC763DA9338233C0C74A621BB3BFE350C806DDBD4F5C9AB09D7D4D4127CE48F7C5302A72C734A324E05341E4E4723D28571B810307BD022C6082093914C9BEE28CF534E0DB0066FD296E3002B83C1F4A042C591C638AB43EEF4C55688AE383926ACF18393414831BB1B78C75A7923F84F4A8BDFBE7A54A01EA3B5494869233934F1CFD29A14F383C77CD2F2DC83F4C50028518CF4FAD46A48180D9039E29C3239FE74D60400C3A1A060C48C915897D93CF6AD694320C91B6B0EE64DF271D01AB8994C894F61C1159139FDE12475AD3C9EB9ACDB8C19085C915B239245AB525467B56B26DC8AC9B42A63C771EB5A712E5C0071EC6A646D4CD647C210B4FFF0079B151A2F18A7E7276B0CD60CD91206C139E869C0E400454592A411C9E95202F8C1A076141EF8A764609349BB00EDC669392314C053C1C8AAF75B84647AD4E307827B557B860546D3C5302A3630074EF4D5C09148E4E78F5A78C6DC1F980EF4B163CF46EC2811B13FCE47040039CD50BA3B94B0E3815A370635C727DEB366388C6391400F87E68B23A81DEA46F7A6C0AE23C6413DBD2803AE78A064A060F1C834A4FCA300FE1DFDA81CA82095C7EB4BCAFDD2690C68EBD31EB47228C93D7A8A567D830DCF34008C14FCD48FD304734123A8E95016C820F434D12D8178D860531D8638A0FC986C5332189CF7AA48C6521E095E48CD2EDDA77B7007A53448A8B93DFB55396E43B1C0C62AEC43997F7AE38E4D5595914F26AA34AEDC038C543202E793CD3488732D6F53F306E052ABC632475AA5B762E18E3356BCFB655CB29A7621B24322E391CE29084700B034D122376A779F1A8DA7934C91924618809C53563E18EEFC29C27CFCBB7152105B05477A0441B48049E734BE5004061EF9A98B2AE00FC4D3BCD8DC6CCE73D29815E3451915664447237707150B2EC231CE298CCE4EDC1F5CD301E404201A558FCC6C818A8941CE4E49CF5AB56850C856662A3B114015D94AC9F2AFCBDEAC85C7EEF38FA5124C8BC8E7E94C52B9DEBD68026C1C819C8ABAD6EC503C638EE3B8AC813146E84D5EFB7AA05C7048A40445E753B4918069165390F8208A5772E411CE6A1CE1F1DE981705C6465BAF7A69976A819E2A0EA3A7150EDDA410723D3D280348B6F18FD69536AB640E4F7AAD1AF2083D4F20D5AC86C90704548CD8B69D7037E07626B4DAD9A4CA800328C823B8AE4CC8F181C719AE9AC6E5A488463E660320FB526225B555F386F3C9E315D20600A96EDC115CDDB491DD139E181EB5BA18C89CF047EB480C3D5A31E789E13818E6ABCC47D8C48FDC5497321599909C8ACDBA9C1B63170403C53029B3A884BB8C81DEB3558824918CF4AB524ACD1ECC67DAB38CA59B6FA7AD500D6932F8CF03AD4EC5470BE95582FCDCFAE69F20720127DC500359DB9047FF5A9F06E2DB54F029814BB73CFD6A789C2F09C134017F7C4170B8F7A859BAEDE49A8707393C1F4A1D8EEF97AD003D492BF39A8E562E360E95192C4FCD48AF86C814C0951420DA3A7734E4618C83509919B8238A4190071CD021FCB13D07B54EB773290031F4E3D2A990E1CB1EA693CD0B8E2905CD16BF7E62625C63B76A7ADE3BA2C6DCE3A567A659B038CD585461961D568036A1BE9910A3B123B0A71F2664C8387CF2B592BB8727AD585DC7A1E7D6A4658289BB0DC135A76B79736CC0DBBEDC75F4AC7763BBE7E98EDEB52461F6FCBD0D2B0EE7563C4778985BBC4883A301CD3E4BCB6D461DC1769F51580B6CCF16FFE753DA8301088BC1EB48A4CBDFD837377197B7DB211CF5E6B0EE2296072B22EDDBD477CD7616D72AAEBB5B6FD38AD092286ED18DC462423A1EF52CD61579773CE97E60401F8D2FCA467B62B6AEF4C30E5A1195F7AC5646030DC52B1D119A68461B40CE71ED501C024FF003A98B0038C9A8F258E4F5F4A0A100F979EB46368C1EA476A0E15B7E0934617EF608CD017171820938A7003208E4530F3C6718A9141D98CF14C0561B86D53D0D51720B6DCE7071C55E19C67B553933E61EDC5089634A0CF3D453A2CEE50A29392BB8F26A6B509E706604FB55924B3939056A02B9C806AC4C01C800E335064678A421A57E5C0EF4C452CA71DBAD3E4504103834D819D18AE3AF5C5004D85232473DA8F2CC6739C83DA972075EA698FCE304E4D00213904668C71B33C546C40383CE69E8477E281A1E8C41193C0EB56061870726ABE09153AA9C7CBD3148680E36E739F5A78605401C5227CBC9F4C52AEC276E7AD2188727914CC124003A9E69E41DC0014D0D9CE4E2801E188CB1C60714DF71D3B51C03C8ED4138518E73E9400BC9E48E951921C92BD071CD399F8C5332DF4A00F53C6064F4A46240C74A3A75A420D62720A781C5458E734A49278A8D8919E68002706A22C393E9527E150C81877CD3018DC70D83551F07861DEAC36303150CBF3824734D0195301BAB2EE7919EE2B5650D82C075EB5977214B7CD4C0C93B9B92B835191C63DF357180E99C63A557756DDC0E9FAD343216C06E38A63938C30CD3CE0B7D0546EC36B13DAA8651909238A603CF231521C11BB3902A32D9F9683488D2C075EF4BDB3415F5E69402CB95EA3AD0588005E7B91C54A8871963804D46C07D4559B7624F23A52192E4A671D3A5529081202BD2AF3AE46DC75AA1C349B73D280266CB7CC7AD2AF3D7834DC7AF34EE4632323B9A918A704F3C0141C118EB487BE067149BB8E477ED40EC28C1F6C5389F7E690FCA371A4E80F1D7BFBD342070BB4E7BD57552531D2AC4878C74A81401C67354842391E5807939E95131E338C1EF52483E4CE707B542CC0FCBF9D0C0B908548C1F5A7820642D3616C41CFE14E2C31E952CA109DA77646314AA474CE41A69390428A90718F979A402F207A53D1720EEE6936E718E3EB489BBBFE340C9011D3181E94BC9041E3B0A6E015C038E69E482DB47714861CEE218E69DCBB600C1F6A6F0C41C7B54C30395EB480452792DF4A51B40391C519009CD29524E077E68180C6ED8DCD3F9539538C534800827AD290CC39E0FB50048A322902A938C64D20DC719EA3AD2E72485E4668025CFCDF28C9151F00863520C7AE298EA00EBD28018CA4B673F8521049C7E54E2DC6453707B1FAD0037F8896E9DCD3B3B4000EE269320E428E28070C777E140C5181D29F924804F34DDD952695893CD020018920F14C70C98C0E3A54A0851F303CD306578A0068CE3934EED95ED4D620E5B1D69474DA0F340084F3B853885CE7DA9182FF009F5A703C9CF07DA801A991CBF14B9DEBCD042918C9CD33380303EB40081875F4A85C7C85BBF6A98E09F978A8A505864F3834D099447009EE688D82E1FD0D3B6D3E300532444F30920F7353DC9088A0FAD0090739C77351DCB8455DC09EF40C7E01008C7BD4D19C920F22A20461588E0D3864743C8E98A009472F8EE7A54CBD3AF24D40A72D91C1A9B00F0C3A8A4CA43891D49E294A820639E6941E85B9C52005413EF5250E2A5C004547B4F20F229E001CF4A0F39207340159CB15DAE38AC0BA1B65E390466B7E4E465BF2AC3BC6224C0E4569032A8571B71963C563BB0F35B1F856A9E0107A56548373702B7472C8BD69D0E7F3AD38CEFC60FE35996A015C9EC6B4ADC6E9391C0A891AD335E100C7CF269E3839269AA0E32B834F0413F30CD606E861C807D49A9C0C727B8A8D383F30CD3B7347F29E73FA50314856C6D5A93A706906E0477F4A56DC5B38A60237CA703E9556E8E1718FAD5B907393D6AADD1568BAF434C45143F2E3D2A6831E728EE4E2AAAE4286EB9E3F0A9223B678D9BA861C5049B97980793C81599263192722B52F803371C0F4AC6B8246550605005B83EE0DBDF9A947CCC769E6A180955E4E69CA30C4E39A0A459C1DB8E293E620E3B533386C9E735260638CE7AFB5263180E46F27EB9A6970CB81CD324ED9E79E714C668E3C85FD69A444A561FF00772DD40A6B4901400F5CF154DE42C01CD40C0B367D4568A2612997659700E0E41AABE7E323150853D09E94E002F278AA48CA52212C48F9BF2A45249E698CCBBB279A9708002CC0679154412144638F5A46555E41C91D29E2E2DF192735107576E98CF4A0444C1DCE00A9A2B70FCB718AB4A0FDD41934E08C393C669D8426C43C6DFA1A87C850D9518F5AB0C4823B9A463CEECF34580AD248B9D8074A405D781C0A1892304723BD20566507BFA51601C704E3208A03841C75A45846771E2954AA83DFDE980E129CF4EB417EE0F150B138E391ED4D52546473ED4016430C6077AAEC086C0ED47239EF4F24C872074A00876F4DDCD3D49E9CD3B0C050E5CF0A3181CD00382E3DFF00A5230CA824743DEA10CC0EE3CD33CC73ED4016C4BB70718CD5AF91FE68F93E82A8076C60F34D0A33B9386F514017D51A57DA3AF6AAEA58B957EA3B5384A58A81C38EA477A9302525BEEB7F3A403F2EB8C8C7A1AB7062404B100FA7AD416EC36ED9FE65CFE55A90E9E8DFE967FD5A72BE848A4172CD84167B99AEDB2A3B77ADDB7BFB7B227C9846D3C027AE2B9E9275B93F688F008EAB4457198769E80F4A42B9D2C96F693C6B7B6A0AB9E58511DCB340E0F506B16D6EDD5768603FC2B43C949A232C07E6C7228B0CC7BB72F365BE5ACBDCAC7039E6A7B83248D87F4C7B8ACE2FE5F005302D3A0087079ACC73B493EB5696625791D7AD0E23958797D6A8455560A327934EE5863B0A649B918A819A5F34648340161C0F9585036824B75AB3636175A94DE4DB2938E4B76AA775198276889CECE323BD0035EEF0C02AFE751194B36E3DEA2382C49EF4F6FBBB7193EB401202CDC67028073F37A547872A063F1F4A7E4671DCD301D92DC52E5800307347DDC9CF3DA825D0FAFBD021BE63EFC7A54D1BC52B64E011DAA3CEE196EB4D8C0DC690178280091F853178C9CE734D4042900E4F5A76377C8783498122F0DCF4A986338CF279AA8148E4D1939CFB5202FAB31273C8A955880181C0AA31CE54E651915645C2483E4E31EB4866947348B80A0E7B568FDEDAC0E08E78ACC86ED90F38DA6A737916CDC1769A4D146A15DC4F3C1A9AD6E2EAD25DF6EE73DFB8C525B4424B6F39581E3240EB51C7280428E1BD2A4674A75AD3AF80FB5C3B5FA12BD33F4AC4BBD3C4CBBADF0E0E6A0DBFBCCEDE0D5EB79CC63667A76340D369DD1C848B1A0C03823A8A84E36D75B716F6EF0B305193939C5734D179982A0803D6958EA8544CAA79C6680437273C1A9A682443F274EC6A10D9E0F52691A832AEEE3AD4A303DC5373CE31F7BD6A4553CA9E3E94087756E3D7154261B5CE7D6B493182C0138ACE9C9249E324D5206C8C1CF438A9EC8191C9E8474AAC781C73ED56EC9887E39CD32092E1F6B8038C557C1EA0559B80A5F1DEAB90A700F0077A0049060727AF5A96DA4548CAB0E4D576C29C738ED4A9C8C8E00A009772E727F0A424039A53D7AF3519FBB4008C78E7AFAD0A31C1A61C6141EF4E3BD701700D004A381B8D4AA7A81E950E405C3039EDE952A0006F3D4D2290E0DCFCC319A790B9C3D47D49CF4A7000F078A0628C8208EDD0527DE3F377ED42E14724E68C28CE4F27BD0028E9C8140CED2476A44C91CF5349BB0DF29A004182738E682D91D28CF39CD2673CF7A047A88C9E29BEB5276A8CE3A01581C821191F2F07D6A3C609E69E4FE34103A50047DFAE6A27C119A918546D93C81C53405738E9504A481823F2AB5D1727BD539815C673CD34233A6058654E0771593718C80DCF3D6B5660579ED592FF003B39E80F6A65229900921496F5A85CE4819E69D30621553B75A4915180E307A7D69A02BF03A5358E571EB402DC0EC2A338EE323D698D14995839C1E31DAA2031B8E79352B8FDE02A32075351E0038F7A66B117E565CB7414EDB9E9C7AD3060A9C0EA6972558E3918A0A1180C62AFDB61412C3B5535E18376356E2F61CD2632D06E718FEB59322EDB82C3926B4C0E091F956737331EA7DE818F3C918231E94E23B9A45E0F23F1ED4E5E9CF14805EA29BCFDE1D734AC403BB3D28254FDE383ED40C382DB9474A5C06FC2914F3C739A45FBD9F5A10818614E79A8978009A95F2232054110CA027BFE94C04970C315577027CB239156DC77FCEA03824802988B5132EDDADEB52670C02F20542A80AE3F2A97038526A59487E3278EF4E5C9E4F6A68192334BB4F4CFBD218EC11D38FAD038030473DA9A5B1818CD2038381914089B9CE0D49B8EEC3638A8FA0CD195CF06932877A1E98A79230173CD3066931DD79CD2026C29E9934E1C9C0E322A31E9F9D2920372702819281C6338A3E6EE7F0A70E572BDB8A31818EE680000804A9A50318CFA73EF4836F181D29077DA48CF6A064AA46307A0A0EDC93D88A8D0ED639E714A7F78BD7BD002E0FD476A4CFCDC9C520E47E94872383CE3BD0027CA7279A53D3839028C2E30B4A0F3F5A43132071DBDA9010C46791D7E94F755DA08EB4CC678EC2815898B03D3A62A365C9C9A72E076EB4BDB39E69886ED046E348DCE368FAD34B36EF4FA53C1DDCAF51400DCE170052A6589DC7A77A46E013D299C92477A0638853D5BA76A76300A8351F0B9EC4D2A020649CE6801D9C92071EF504A36E79C54A073C1A493EEEE1CD324CF0DBB83DA9C090D9A8F7640C75A78EB834C458EFC525E95DA8A3838FD2950FB536EBF839C1C50008981C9CFB7B54F84C0CD428A4739A994A93B7BF5A4C6870F95B8E86A56CA608E7351671C8C9CD4C8CDEDC522900C85CF7A56240273C1028CE0F3C934BD1803DE818100608E73D7DA9A4F048E71DA9C720024E4D2640E79E280237037648EDD6B9EBAE652B5D13B718CE47F2AE7AE766E620F22AE06550ADC3019AC898B2C84F4E6B613693D7191DEB1A6CB4A49E95BA39A46A5A0DC99ABD083E702781542D4128157815A31A9321EBB71D6A246B4CD68CA95C138F7A940CFDE20FA557520E3B62A4DC7270338AC4DC323711D2A6503008EB50060F90839156106546474A40263273DFB7AD3B38F97A76A1BA8A4DDD88C9F5A603D81F5C63D6A95D3109903EB569F6838EC7A553BA66F2B2BD4D313297247B1A9ED80370808E841CD555279382455AB5F9AE90FBD3B106BEA25C4A49FAD645D9FDD818CE7AD6B5E92D364F4ACA9C024023340EE5884F9508E87238A9101030C73EF51467E4DC46715287C8C8A01325047F173E94D95C460115179814EEC9CD569A4F3067B50904A561EF70C411E9550B038490673D2948655C9AAEF2E58118C56891CD2993EDDBC0E8298EE80E2AB99B2A5071CD40CC41C9AA326C99DC0CD40D3F9870BCD210641ED56604009E29A4495D6363D72054C90492301D854DC8CFAD5E599563E98229810C7629D643F4AB36F671162D28C7A60D224DBC6E238A8A497E6CA678ED4C45C768EDFEEF5E9EF558B6FE5BB55699CB0F9474E6A10FF00866802F6E50768E86A3701475E87351210010D4AF2045E475A0094CC3A819AAE26C312A318A61950AE7BD303E01E3AFA5004ACECE7269A13030C78A6B5C284E3AD3564C81BA802755D91FB51CB2F1D69C92281834E52BDA80205041E4609A930117DE98CCB9273562DDE33947F98377F4A1011B30C601A4200FAF5A75D46E8E02F23B1AAC4B0C96E7D050049827DA9327A53770C003F2A6B9DBF328CFB50225DDB467F4A683B8E00C13D2946D23814F1B81240E7B503207FDDB9C0C1A9565248278C54C58B8F980C81CD323B79266548572C7D7A01480B89692CEE1E32762F2C474C56BBEA48545BA7FAB1C0078CD42F711D8590B387E66724C8D9ACC48A59DD4C4383401A6B6F203BA2CFAE2A7316DFDE1E2B42CF52874E1B5483281DF919A9E1D6ADEE24297502321EBDBEB484649D8C405502ACC57325B3953C82391567534D2A4746D3F31E474CE45674A149E473DE802ADE39625931CF3590ECBB7907AD68484A64E01AA72B0DA242386E94D0157790760E7774AD282DA6232839AA8AC62F9B03DAAF5B6B1E4381326E43D71D698CD28B4496E80579150FB9AAF2C7A258DCF977799C81D17A022AA6A17D109FCDB32D8C719ED58D339B87F3B3F377A00E8EEB5D9181874F021848E428C1AE71E662C4F5CD46AA4700D3829CF340988A4EFE4D5A5236E6AB650367A1A984A99C73EF401261E5E8702A12ADE670738AB2264E8BD29EF2229C6064F714C4576571F7BA50BCF5635324C06771E3D29DE5C4FCE319A4045B4B03DE9020DBC1C1A49A22BF32671FAD356403823A500209193A77AB292AB00CD9CE6A2014FDC3CFA5318BAB01D3D68034E36D9C13F43564C48463EF56347285382D9CF233579266C73C62A5813B054054AFE069A74F99C33A36ECF6E94F492395B120C1F5AB10C92C7C4672077340CCD592684EC65E9EB5A293A3FDFE3DA9CC7CF5C49DF8C8ACE9AD597E5EA0F7140CDB85987CC8C47D0D5EB39C237EF0F7EA6B0A095E340A3939E95B96F2472A866C138A4C6684B7BE5B65173838A99A68A68FCE43820F4ACC78B6932F247A53546394FCAA465E7BE16F13630E18631DC66AADBA9745319C0619208E9529B7B7BB501888DC720F6AA12493C04088E54704505C47813A3149172B9EB4C782393E7071ED5A905F298C06E1BF4A8AF2588C8A25458DB1C95E948D6326660B4662193E622878268C36F183533975F990E57D4527DB25538249FAD06A9B22892465DE10E0719ACD906642BD4F5AD837C59595BE5FFEBD654A8C58B83D6802A375CFA55DB52172540CD678F94E1B8E6AF580F9D98F4FD2988599BE7CD4382E719E6A49802E71C2E7F1A893249278CD003189076139A7C4BF367B5324C163DBF9D4D02911E7A1ED400F38562D51BF3F2B5388CFB1F7A4DC1986EEB8C0A00663A719C54981CF19A40010063A53C8E01618CD031BDF3EDDEA442D8C1E6819C8EF8A55E09C9E3D290C0FCB9520FB50368E0F19EB4FDFE87DA82BD28189CE7A52B74C8A5272C33DA9060E41A007205CF1C934CDADC9E076C53D473B476A6E464F5140080F6CF23AF1421C0EE39A18E40A3D38E6803D3B71341C77A5C718CE28EA78AE739047F9871DAA23C0E78A91B9E076A8586579EB9E29884C6D19A63A9DDD6A420938155E4CA100FE14C08D988391D3A55594B02735608CF1D2AB49F3531195207239ACB90824AF4ADB981030BC93DAB0E5FBC47F103CE7B550D15F9C0DBC7D6A0D88339EBD6A76196C8E7355891C91CD03222DD76D47203B7078CD4BB460FAD45297DA06334C68A2579DBF954641278A919B6F24D324241000CE7AD3354346472BCD38B6010073E948A5B23D3D282724E3B5050EE9F8F6AB31938E3826A90618C7357E26DCA0673498D129273C77AA2C70ED8FCAAEFDD3EF5480DF3E074A064870314BC639348C7AAF5A37638CF4A402EE6DB8C6714840EA792682464839A438EBDA818E180369E31E94A7A0279CD057076838028521483D850808A76658C85EA6A387715C31A74E7BF4069884A91E8D542648C0118CD562AC1BF954CC508E0E6A073B9F1D876EF480B48001C9E6A40462A305768EB4ECE00E326931A1E39383CE29C3AEEFC2917079C628E71C9A40032714B800820E0FE94C662A7AF6E94E53900FAF1414897248CB5267F5A51F30CD1814805CE4669EA063AFD2A307B629DD314863F21864FE34AD82A31C7BD354F5EB4F38650071400E042AF7A98851C9351AB8518C83EF4AAE01209A003233C539BE51D3A8A42C38614C0C40F426818E4395A9475E0823D6AB0CAFDE152E09EFC0A04398ED3B7348795393D7BFAD3F921C6393D3D052AE71B48C8340C8D5830079C9A4183F330395A0121B07BFE94EC963834806919F9B1834D5E06ECD389C0C75A45607F1A0030A4E49A932BC834D24F383ED4A08C804F2060FBD301AC98707A8A5DB83CF6EF467E6F9862856192074A040324127A5371962C3AFAD3CB7B530F043E7A1A062638C0EBEA69C101E5A90E19C1C71DC52E06322810D385E31C5364C30DA38C54873EBC91CD40C57615C63DE9A029B30270076A441970291491CE47B5395B0D91EB4C927030703A9E94EBB05B6034E192700804F5CD36E37161C8C0E28008867681D2A7501C139E45575382189E33C8157319F6CD2191C249FAD4C405C93D3FAD448406CD48482A474348A43F780C00FA52630D8079EF48052BE7031D681867BF5A696C8C8A72E338EBC50EAAA4134808D941241EA6B9BBCC090E7820D743B4919CF1EF5877DFEB02E338AD206553629101B2B59528FDE60735B11EDCE718AC690FEFD88AD91CD2362C8E22E2AEA310DD6A8DA318E1191CE6B450EE6031CD44CDA9A2FA96F940E878AB8085C8519C55780ABE3270074C54A0053B9BA9AC99B0D182DC0C66A5F9B8EDEC6939ED91F5A5C1CEEEC07F3A4313E6CE5697BE690E474ED4ECE061B23DC5000D8C73546E7779601E01AB98C139EBEB546ED41514D1322BF0A322A4B42C2E536F63FA5331C6D04138E6A4B746171198864D5199AB7A5967C7E9599336C233CD695DA6D9B2FC93CD65DCCA0B6D1CE280B96906D8F93F4A8B718B25BA546090B81DF90691B8397EB55625CAC3D43B64B0C0C719A89A48E320756355E59E43C06C71540B9CED26A923194CB124BBC9DC4E0F6A8C2EEFBB518F9BB6314A43939506ACC9B067192A3B5352292660A0F19AB71C6A832FC9A7076E80019A04218D23CEDE4D2007763B9148159F76DFAD283C839E45004AB097209A9D42AE4BFD7F2A85A70A381CFA8A8D598A82D9AA1170CA029C0E0D562C8A773718A6641E3A0A88CD9C640C0A009C3E4F4E298406C8ED485B201078353F912A9DCBD3D6802990CA700D0EC5B86EB564418E58F3E9569618553CC61D28199087737966A51194C81CD5C956153BD005CF1507988380DDE81323118238A501738C5299793B3A505C3000753400F20E70052F41B94F02A3DC98C3B1A8D9971841408711924E3A8A6670BC1C628CB6ECE29ACCC78CD30278DDD53CB63C76348EC01193915096240534D5CF4A404DB901CF50282EAD90463DEA2257A0A7AF7F4A009810381DAA58E41CF1C9AA9BB9C0ED4D25B3C714017915DC12DC0AB314BE48DB17DEF53599BCBA9C1C0A54664EB4017DD4B6031EF572D2736D287538E08ACC5964239ABBBE3F2B2C391D0D2193CBB2472E7AD0A0229620D578DBCCE056941149743C88BA9F5A00646F1CB1170A432F7AB32CC2E2132A7DE41F30AD3B6D360B150B3B6E623903A568C577A540E23F2A34DDFDEE73480E294BBA36EF4EB4D78C88338C815E946F8CD035B35BC213A7CAA064572925BC0CCD063667BFA5080E5B202AC78DCCDEB5465470DE59FBD8FCABD1A5D2F499E388DB6EF3A31F313D0D70F73131BA9194E00279A60669E0852738A7A900827A53256C10BD7BD216E98A00948DA095AAFBF2464F5A91B2E76FA734C046EE680148C1CE6918138DBD69E76E734265864734D00832B903D39A7EE246075A784ED524700271D334C4355875C7D6A7E186E8CFE14D6B4765E0E4534452A1E991EB4089D273D245E9DCD48A21995B671502B17E2419C5489103971DFA50034C054E29EAA9262294F5E335324EA3E494671DC54E601337EEC640A40664D68CA48EB8E951C734D0E43AE01F5AD62422F96A4E47AD67DCA94CE7E6A5601AB287382707DEAC5ACB2C0EE0720F5CD66311B723B55C8655671BF81EF40CD7122CE3E438C76A8D5A546024191EBEB55948DFF00277AB464571B64EB4804192C190E08A7095A20021C6782294C4D81E56314E2E83093819F5A0669D9EA90C65A1BA076E386F7F4AD58DE2930D110C0F71DAB98F297EF0E54D4F6CD3403119C2E7A7B52B0EE6F00B39263ED51B41C1CE49EDE8696D18488CCAC41CF6AB8E18A92E3927231525A661990A0F2C8C107F2A552974DE549F293F77EB56AEA013A89533B87F3AC96126EDBC8607AD06B1658C4B6D211CF3C63D6892512B9541838AD151F68882CA325475ACF9A0F29B20F4FCF148D132BB47BD727F2AA65CEE28D9C2D5F941D8597AD66FCBCF1CD03B8D91949F6AD3D343346727E507A0EB59983923DAB5B48198A4DDDB8F6A00827C072A38CFAD42BCA83B7BF4AB5328F309F4A84727E94015E60C0E31D2AC4602A7FB550CE0B70A40F5A990E630C79F7A601C76EB498C9183CD216F98E3834CDA719340C9781D383DE9C723934C5CBF7C63AD3D71804743FA5200E00DD4B90D90BD29083BB1DA971F373D28290E07B67346338E29179523AE2976E48C1C5003BE6DA47E19A45F98F1F5A3058ED0714993B766067D6818EFD28392303AE690038241E9DA9793C2F19A04C53938039A6646707AD2820719C1F5A324E70327D6819E9D81C9A8C8E07EB53023A0EB4D3D0E38AC0E422C1C7069181C714E03B9A630E73D2810DE99DDD6A394671FA53D8B6700715131DDD0714C44654639E6AB383838FA54D8EA3BD40FB7EEF4EF4C0CC71B720F271D6B164FBCD9EF5B32E3241FAD63CA7739ED54868A8558FDD38CF6F6A89C8519A9DCE18D556018668023031923BD4722E536AF03BD4EC4F4AAF2648257D29A1A288C83EB8A40D9191C9A52011C7D7F1A8F1CE070699AA10E00279DC0D21C9193C5389E4FEA2984839C5050E5DFB862B4625C01818C551881396E957532410290D0E240E32727BD541F7C80704559970001DC5518514B9148A2C6338E7068EBCF5A7B71D41CD44037393D8F4A403B3CFAE6971C7A1A69CE063B8A51F9D00286C727AFA51900E001EB4991F5A00C92C3BFAD021B2A961B4743CF355946D000CE3B55997E45240E2991E4A03F8F154046C7905463D69A4F3D69EE5B38E9CD46783C73480B1C8505AA45551CF5E28CE474A940E3EB48761179E01F5A3A60119C53B03824723BD46DD770FC68191E43B12454AB9DD9EF401C8DDC1A518273DA90C7E783ED4848E03F23DA8DC391519CF20FA50089368D9B49E73D69E092326A342DBB247414FEAB9C5031C3919078A9436483E950AF1C738152ED27E6ED4807F04E7A0FE740F53C5202769E738FD69C4E4609C5001B8104819C547B89048EBDF34E201F957803BD373B738FA1A00793B8038E40A3714CB2F5E98A603DC76A7AF4CB739E940C997800F722A427776C5440AE2972B9DA6801580C93464803DFAD0082428A451927279C50318DC282063D69A011C03D7A548F91B7B903BD2630A3F3A4202E40DBD3D4D1CE4313C50092BEB8EB49DB07A0A000E480B4F1D734CDFB8F3D451956E3DBB5310F24F3B699D783FA538B8E3028CF27D2819190A0EEFC39A519F4C63D69DD71F2D2E32473C9EB4009CFB555973B6AD12149DA39AAF3820165E1568114B20020F7A70539047D29B8524EEE86A4E508CD5089D39752C39145C8F9801DE95793F8D36E43065C7D690C963391B4F4F6A9598023AE714C8F0707DBA548006042F6A0007D2A4C823914C4CE0F3CD4833D18D22907239C7B5276C8E3DA8E074E8682086C706801EB95523B7A531954F240A4273F2FBF7A47603E5C67348047FBBEF5CD5CBC9E7B67B715D1BB6D52CDC8F6AE72EC1F3B23BD69032A840A0004839CF5CD63B0FDE9C76AD8CED52C2B249CB64F735B23999AB6E494ABF1EECF1D2A8418099C55F80157C13C567236A66D2040BDBA53865B029A814A8DDC7A629470A077ACCDC4C283C0E7D6A46C6085EB814D52000A3B7434F60A73DBE948427500FE941FBDF31A323BF5EF47CBD0F38340C0018F41EF59F759079E9ED5A39C9C0154EF329B70BC8EA29A25950AA952481CFE7562CFF00E3E1001819A87258919E3AD2C44BC889EF9CFA55991B3A8B2C72E50E7D6B158EE6DCE33E9562E0AF9858124F7AA12EE73953C5348893B0ACC491B73C536E2E2351B492CDFCAA07623E5CFE35598000639F73569183909B8F53D29C30C093519C938F5A94212A18F0A2A881514CA723A54A19506C14D2C380BC0A5A044ABD3E6E3351316761F300A294292707EB4EC20A007B4A49C47519500E7B9A093B810314D607231C934EC31CD9519152F3B4B03CFA547B0B7CA7A8A90A011EE6233D314C088A973D69AD144A46CA41F31F94F4A906540E383DE8421E24317CE8A0EDA56BD790818C0AACFD793C0A5F3231F745302C1B876E1783EB519676E18E41A84CCECC194616A5DBBB0DD3BD218DC73C8C8029418D4924F6A90C45CFDEC501630DB319A0456CC8F9F2FA7AD4EB6CEA4194E0E3B55F18E0A802992B039C8CB0E94C0AA522DC0A0CFAE69AE33D075A976B28C1FC6A3382D803A5049130CE013CD19A937AAFB1A40403C7734010B06C616A3224DD85EB8AB05C2719A83CDC0CE4824D031007F4C934FDAEBC93C533233B873526E19E7A76148032073D68C1E9417C1E39068DFD79F7A0066C19E6A50481F875A0A370F904114A0EDE83934013AB28AB292AE30DC8354C103AF4A9E355C641E2802C4423793CB41B4F6ADD46160A23524330C93E9ED5434BB6492569981C46322A09A6323165E79EF4867446F23913649F338C60D0F1249B738CF5FA5614322B639C32FE55AF1483763383D69017AD9DFCF23AE072294C31F9A5DC753550DC98A52FB783806A4FB534B22AC4A777A50059561A7C52B44376E3919AE464F3220D332E59B35D85C234920F290F4E47BD62EA36F3191605420B74E29A039320C8DE611D69CBB4263D2B725B4B7B65DBC9727A76ACB9607F37B05A60526C1248CE0526C5C53E50376169A70A368EFD690085437D6914156083F0A419CEC07A53D428F9981FAD340594507A54CA848CD56E0904678A782D9383C531326124919201C8A799F0A075A8372B1C633487D01E45022C6FDCDCF4A6602938E2AAFCE391520646C6FC834013A120839C54B0DC490CBC74350023A76F5A696DA47A500741314980504026B3B6F9520594654E79A683E6C7B4707DAADABA940928E40EB480CBB8B41B4C96E43FAAE39AA400638230476AD79386CE08C1EB55641BDB320C67BD202B1CF058923A54D14AC98DED9CF7F4A8DE2703720CA8A8E304B9DDC50346B19240BB81EB53A389B89BAAF4359AB26D1B4F3522C872594F03A8A066B086589B72FDD3DC54C901237A36D27AE7BD652DDCB1380A729DC1AD25912453E51E7AE29002C92C7954254D6CC373BD1623D40ACB924128DA4738E4D49149B4E08FA54D82E6DAB1E99CE6A9CF6FE66F2BC64E6916731BABC639EF9AB89750CCE580C522D332226921E5B3D7183575D43C2641D87F9156AE2D91D4CABCD67C01E17689B90DDA835522A93C16E84567390C4B28039C56DDDC2122671C0C573E003C93CD06A98D2588F97B706B5F4D5DB1B05EF592493D7AB7F4AD6B2622DCB03827A52190CE70C63C8A8B8069B21CBB118CE7AD22BF3C0F6A008652DD08C54D19CC61FA76C5579770718EF5662E57E7FC314C01B6E72DD48A615390B9EB4F601F83C0A692BBB93C8E94863F19017A549F2A92BDA900CE0E79EF484AF07048340D0B93F81A423001A0001739FC290E368E0926818AA09626A41F2F279A66D5620AE571DA95831C90719A000807EF5282C30320FD2972AC3674029A31DB9A063B3F3027E5FA528604FB5478EA4F7A37F380680242D9C29CE450491C0ED4DC95201EF4EC67A1A00F4F272707F4A4E31C75A70E7DA9073902B038C8C291900E69879041E48EB5212849F5151F7C5003186071C8ED51B0F97238A7F3D0D46D8208A622B8F6FC6A073B7EF7E753B7038A8643C6714C0CBB82BD54F27B563499DE6B4EE4F39503F0ACB94905831AA1903F232DD3D6AB3055E578AB258741D2ABC9D463D69810B67073504AE18E17A54EC70707B540EE421ED93421A289C039E94D382C3D69A4FCE4E38639A76EEA05334435BE639078A76DC649A4E070053871C9C939E682C40CC06DEF57D0E31BF238AA81433039E6AC92C78EEB52504870BD3935523442C09E82A799F2073F4AAE83739CF5EB8A00B1C8E7B7A526000571919CE6A52011D6A36EA07514804E99E682A76F183499520E280380074340D0EF75EF472381C67934D0D93B1863D29DC0200CD3403255061C9E688570A08E944CA0608EB53AA1741CE3FAD022AC9CFDDE4D4191B8023AD5B9142B03551B97C77A00B8010307AF615281EA2A24E3E63DF8A9C671F5A4509BB2A771C1348360EA339A01DA4927FAD38E3A0EF40C66063038A7F6FAD21CF403F3A76011927140116DDB4BB495CD2F7E3BD29241C0E70290205E06F3D7A549D41C0E7B5340E370A78E87DE818D5CE338C0352AF4E4530F246067D69CA0FF000D218FE9C0C9A69C9E941C75078349FCBB5021492181EBEB48181DC7A9A09C9C53718A010E0003D6A4CF071DAA3C853B4649EE7B54806391DE818F3C00A2940183B81FC29A3A8FCA9DC1383CFB5002FCBB4EDCFF005A7FA64F4151E463D33ED52EE6DBC01ED9A06465B1938C9ED413EBD0F7A73A03CE79351F1824722800070303B9A423A669C57039F4A8C118E47340843B891B69E08CE00C91E94C23FBDDBA54A0ED00F43EB4863F6B60E7A534E76E57826A66CE00FCF15096E368ED400C0587039C54A31D38E94C3D69DE94C42330032B552E18BC783DCF3573D73C5539C0D87079A10995D4FCA5481C5283860DFA5306307D719A7E38041C67F95312274604E3AD17836CAA07A0A58B0A7039A274549D5B3F7BF4F6A009631B5866A62429181C77A81588CF3915297EC3F5A43157072718A7F51B6A244C0C8E39E6A5E1867A505210E3183D734A71BB3ED48096183DA8DBC951F8520101C1E7A547C93907AD3D94938040A6E18371D075CD002364C6413D7D2B9CB9E24C9E9D2BA170E1781918ED5CECC30E771FC2B489954226FF0056D9E958FD0E074AD49B7052477AC90D838F7AD4E56CDAB5C88C6791DEB4ED8066E79ACCB761B369AB7012B2061D0D4C8DA99B881B3B81E3D29CFB838248E78A6C7F32F1CFE948FCF19E9FA564CDC7A061CF5069EA58104F14D46F9703BD3BF881EA075A43018CF5C9A067A8EF4836F51EBDE94119E698852CA0E0D52B9DB90D9AB2FC9C7359D70AE461F83D850899313764E4F4C62A286E5627DCC3200A0E428DBDAA916248247E35AA4734A65D6B8F332DD0D526721C9CF4E295981002FE355C82C718C62AD2326EE0588041CD2A8E323A51F74FCD5346029C9E476A64088809E454E4865C751D29AE541F979346DDA7AD021C42636AF0314C04700F6A899C6327B53D407200A0071766720638A976F193D68CAC6C514649EA7D6985B2703AD300C7182714F180323D38AAE1897282972CADB48A604B8DA0B375A5E5C0CF4151BB8EAD51BCC718518CD004D22A6776718AAEEEDC7523D29C8A581C8CFD69DB493B5453115543B365BA1AB49110BB9EA40021DB9CE6964624607D2801A307851C53C292B8E9518CAF4E8282C072C719340C79EA06706A656897926) FOR [Ava]
GO
ALTER TABLE [dbo].[tbl_Account]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Account_tbl_nhanvien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[tbl_nhanvien] ([MaNV])
GO
ALTER TABLE [dbo].[tbl_Account] CHECK CONSTRAINT [FK_tbl_Account_tbl_nhanvien]
GO
/****** Object:  StoredProcedure [dbo].[laybanguong]    Script Date: 02-01-23 4:41:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[laybanguong]
	-- Add the parameters for the stored procedure here
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * from View_2
END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = -480
         Left = 0
      End
      Begin Tables = 
         Begin Table = "tbl_ChamCong"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 243
            End
            DisplayFlags = 280
            TopColumn = 1
         End
         Begin Table = "tbl_nhanvien"
            Begin Extent = 
               Top = 6
               Left = 648
               Bottom = 136
               Right = 834
            End
            DisplayFlags = 280
            TopColumn = 1
         End
         Begin Table = "tbl_Chitietluong"
            Begin Extent = 
               Top = 113
               Left = 900
               Bottom = 204
               Right = 1086
            End
            DisplayFlags = 280
            TopColumn = 1
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 5640
         Alias = 2325
         Table = 2610
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_1'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_1'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "tbl_nhanvien"
            Begin Extent = 
               Top = 6
               Left = 261
               Bottom = 136
               Right = 431
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "View_1"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 223
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 3105
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_2'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_2'
GO
USE [master]
GO
