<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WinFormsApp1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WinFormsApp1.Properties.Settings>
            <setting name="gioCheckIn" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="gioCheckOut" serializeAs="String">
                <value>18</value>
            </setting>
            <setting name="sqlCon2" serializeAs="String">
                <value>Data Source=DESKTOP-M0KCUVC\SQLEXPRESS;Initial Catalog=DATABASE1;Integrated Security=True</value>
            </setting>
            <setting name="sqlCon" serializeAs="String">
                <value>Data Source=WIN-05LMG9MN0KA\SQLEXPRESS;Initial Catalog=DATABASE1;Integrated Security=True</value>
            </setting>
            <setting name="sqlCon3" serializeAs="String">
                <value>Data Source=DESKTOP-M0KCUVC\SQLEXPRESS;Initial Catalog=DATABASE1;Integrated Security=True</value>
            </setting>
        </WinFormsApp1.Properties.Settings>
    </userSettings>
</configuration>